@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font: 400 14px Poppins, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
}

input, button, textarea {
    font: 400 14px sans-serif;
}

button, input[type="submit"]{
    cursor: pointer;
}

.button{
    background: #50A7C2 !important;
    font-size: 15px !important;
    border: solid #50A7C2 !important;
    color: #fff !important;
    border-radius: 5
    
    px !important;
    padding: 10px 15px 10px 15px !important;
 }
 
 .button:hover{
     background: #fff !important;
     color: #50A7C2 !important;
 }
 