<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/globals.css">
    <title>Sistema de Peixes</title>
</head>

<body>
    <!--<nav class="navbar navbar-expand-lg sticky-top navbar-dark ">
        <a class="navbar-brand" href="#">Laboratório de Biologia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="Login" placeholder="E-mail" aria-label="Search">
                <input class="form-control mr-sm-2" type="password" placeholder="Senha" aria-label="Search">
                <button class="btn my-2 my-sm-0" type="submit">Login</button>
            </form>
        </div>
    </nav>-->

    <div class="home">
        <div class="landing-text">
            <h1>Laboratório de Biologia</h1>
            <h3>Aqui a Viviane deverá escrever um textinho legal ou retirar este h3</h3>
        </div>
    </div>

    <section id="content">
        <div class="container">
            <div class="intro">
                <div class="container">
                    <h1>Introdução</h1>
                    <div class="row">
                        <div class="col"><img src="../assets/img/web/background.png" alt="imagem introdutória"></div>
                        <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, nostrum architecto iure autem optio iusto officiis magni ea vel rem nisi earum placeat, saepe fugit excepturi hic eveniet at esse.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>