/*
 * ─── GENERAL ────────────────────────────────────────────────────────────────────
 */

 :root {
    --trasition-speed: .3s ease;
    --default-radius: 5px;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #013763;
    --bg-secondary: #01466d;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    color: black;
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
    height: 100vh;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #013763;
}


/*
 * ─── GENERAL ────────────────────────────────────────────────────────────────────
 */

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

body {
    background: #e8edf5;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

button {
    padding: 10px;
    background-color: var(--bg-primary);
    color: white;
    border: none;
    margin-left: 10px;
    border-radius: var(--default-radius);
    transition: var(--trasition-speed);
}

button:hover {
    background-color: var(--bg-secondary);
}

.main_body .container .right .generalText {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 3px solid var(--bg-primary);
    border-radius: var(--default-radius);
}


/*
 * ─── MAIN ───────────────────────────────────────────────────────────────────────
 */

.wrapper .top_navbar {
    width: 100%;
    height: 65px;
    display: flex;
    position: fixed;
    top: 0;
}

.wrapper .top_navbar .logo {
    width: 250px;
    height: 100%;
    background: var(--bg-primary);
    border-bottom: 1px solid var(--bg-secondary);
}

.wrapper .top_navbar .logo a {
    display: block;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 20px;
    color: #fff;
    padding: 20px 0;
    transition: var(--trasition-speed);
}

.wrapper .top_navbar .top_menu {
    width: calc(100% - 250px);
    height: 100%;
    background: #fff;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.wrapper .top_navbar .top_menu .home_link a {
    display: block;
    background: var(--bg-primary);
    color: #fff;
    padding: 8px 15px;
    border-radius: var(--default-radius);
    transition: var(--trasition-speed);
}

.wrapper .top_navbar .top_menu .home_link a:hover,
.wrapper .top_navbar .right_info .icon_wrap:hover {
    background: var(--bg-secondary);
}

.wrapper .top_navbar .right_info {
    display: flex;
}

.wrapper .top_navbar .right_info .icon_wrap {
    padding: 8px 15px;
    border-radius: var(--default-radius);
    background: var(--bg-primary);
    color: #fff;
    margin: 0 5px;
    cursor: pointer;
}

.wrapper .top_navbar .right_info span {
    margin-right: 5px;
}

.main_body .sidebar_menu {
    position: fixed;
    top: 65px;
    left: 0;
    background: var(--bg-primary);
    width: 250px;
    height: 100%;
    transition: all 0.3s linear;
}

.main_body .sidebar_menu .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.main_body .sidebar_menu .user span {
    color: white;
    margin: 5px 0 20px 0;
}

.main_body .sidebar_menu .user img {
    height: 100px;
    width: 100px;
    border: solid 3px white;
    border-radius: 100%;
    margin: -20px 0 10px 0;
}

.main_body .sidebar_menu .inner__sidebar_menu {
    position: relative;
    padding-top: 60px;
}

.main_body .sidebar_menu ul li a {
    color: #fff;
    font-size: 18px;
    padding: 20px 35px;
    display: block;
    white-space: nowrap;
    transition: var(--trasition-speed);
}

.main_body .sidebar_menu ul li a .icon {
    margin-right: 8px;
    transition: var(--trasition-speed);
}

.main_body .sidebar_menu ul li a span {
    display: inline-block;
    transition: var(--trasition-speed);
}

.main_body .sidebar_menu ul li a:hover {
    background: var(--bg-secondary);
    color: #fff;
}

.main_body .sidebar_menu ul li a.active {
    background: var(--bg-secondary);
    color: #fff;
}

.main_body .sidebar_menu .hamburger {
    position: absolute;
    top: 5px;
    right: -25px;
    width: 50px;
    height: 50px;
    background: #e8edf5;
    border-radius: 50%;
    cursor: pointer;
}

.main_body .sidebar_menu .inner_hamburger,
.main_body .sidebar_menu .hamburger .arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_body .sidebar_menu .inner_hamburger {
    width: 40px;
    border-radius: 50%;
    height: 40px;
    background: var(--bg-primary);
}

.main_body .sidebar_menu .hamburger .arrow {
    color: #fff;
    font-size: 20px;
}

.main_body .sidebar_menu .hamburger .fa-long-arrow-alt-right {
    display: none;
}


/*
 * ─── CONTAINER ──────────────────────────────────────────────────────────────────
 */

.main_body .container {
    width: calc(100% - 250px);
    margin-top: 65px;
    margin-left: 250px;
    padding: 50px 80px;
    transition: all 0.3s linear;
    display: flex;
    flex-direction: row;
}


/*Left*/

.main_body .container .left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main_body .container .left h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.main_body .container .left .text {
    margin-top: 15px;
}

.main_body .container .left .list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.main_body .container .left .list .item {
    padding: 10px;
    width: 80%;
    border-radius: var(--default-radius);
    transition: var(--trasition-speed);
    color: black;
    margin-bottom: 10px;
    cursor: pointer;
}

.main_body .container .left .list .active,
.main_body .container .left .list .item:hover {
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.main_body .container .left .list .item span {
    padding-left: 5px;
}

.main_body .container .left form{
    width: 100%;
    margin-top: 10px;
}

.main_body .container .left form input{
    padding: 10px;
    border: none;
    border-radius: 10px 0 0 10px;
    width: 80%;
}

.main_body .container .left form button{
    margin-left: -5px;
    border-radius: 0 10px 10px 0;
}

.main_body .container .left .specieMessage{
    margin-top: 10px;
    width: 90%;
}


/*Right*/

.main_body .container .right {
    flex: 3;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
}

.main_body .container .right .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main_body .container .right .cards .card {
    padding: 20px;
    width: 45%;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: var(--default-radius);
    transition: var(--trasition-speed);
    color: black;
}

.main_body .container .right .cards .card .title {
    display: flex;
    flex-direction: row;
    padding: 10px 0 5px 0;
}

.main_body .container .right .cards .card .title h3 {
    margin-left: 7px;
}

.main_body .container .right .cards .card ul {
    margin-top: 10px;
}

.main_body .container .right .cards .card ul li {
    margin-top: 2px;
}


/*notifications*/

.main_body .container .right .notifications {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    transition: var(--trasition-speed);
    color: black;
}

.main_body .container .right .notificationsBlock {
    margin-top: 0;
}

.main_body .container .right .notifications .header {
    display: flex;
    flex-direction: row;
}

.main_body .container .right .notifications .header h3 {
    margin-left: 7px;
}

.main_body .container .right .notifications .notificationCard {
    padding: 30px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: var(--default-radius);
    transition: var(--trasition-speed);
    color: black;
}

.main_body .container .right .notifications .notificationBody span {
    font-size: 15px;
    color: #888;
}

.main_body .container .right .notifications .notificationBody p {
    margin-top: 10px;
    text-align: justify;
}

.main_body .container .right .notifications .notificationFooter {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.message {
    background-color: transparent;
}


/*paginator*/

.main_body .container .right .paginator {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main_body .container .right .paginator div {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: var(--default-radius);
    background-color: white;
    display: flex;
}

.main_body .container .right .paginator a {
    padding: 15px 20px 15px 20px;
    transition: var(--trasition-speed);
    color: black;
}

.main_body .container .right .paginator #right {
    border-radius: 0 5px 5px 0;
}

.main_body .container .right .paginator #left {
    border-radius: 5px 0 0 5px;
}

.main_body .container .right .paginator .active,
.main_body .container .right .paginator a:hover {
    background-color: var(--bg-primary);
    color: var(--text-secondary);
}


/*
 * ─── PROJECT ────────────────────────────────────────────────────────────────────
 */

.main_body .container .right header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.main_body .container .right header .title {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.main_body .container .right header .title h2 {
    margin-left: 5px;
    font-size: 20px;
}

.main_body .container .right .center-cards {
    margin-top: 20px;
}

.main_body .container .right .body {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: end;
    margin-top: 40px;
}

.main_body .container .right .body .actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.main_body .container .right .body .actions button {
    margin: 0;
}

.main_body .container .right .body .actions form input {
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    margin-right: 0px;
}

.main_body .container .right .body .actions form button {
    margin-left: -5px;
    border-radius: 0 5px 5px 0;
}


/*table*/

.main_body .container .right table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9rem;
    min-width: 400px;
    background-color: white;
    border-radius: var(--default-radius);
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.main_body .container .right table thead tr{
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    text-align: left;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

.main_body .container .right table th,
.main_body .container .right table td{
    padding: 12px 15px;
}

.main_body .container .right table tbody tr{
    border-bottom: 1px solid #ddd;
}

.main_body .container .right table tbody tr:nth-last-of-type(even){
    background-color: #f3f3f3;
}

.main_body .container .right table tbody tr:last-of-type{
    border-bottom: 2px solid var(--bg-primary);
}




/*form*/

.main_body .container .right .myForm {
    background-color: #fff;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border-radius: var(--default-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_body .container .right .myForm form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main_body .container .right .myForm .photo {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}

.main_body .container .right .myForm .formGroup {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.main_body .container .right .myForm .formItem {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main_body .container .right .myForm .formItem:nth-child(even) {
    margin-left: 20px;
}

.main_body .container .right .myForm label {
    margin: 0 10px 10px 0;
}

.main_body .container .right .myForm input[type="text"],
.main_body .container .right .myForm input[type="number"],
.main_body .container .right .myForm input[type="email"],
.main_body .container .right .myForm input[type="password"],
.main_body .container .right .myForm select {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    background-color: #eee;
    margin: 0;
    padding: 10px;
    border-radius: var(--default-radius);
}

.main_body .container .right .myForm form button {
    margin: 20px 0;
}


/*
* ─── ACTIVE ─────────────────────────────────────────────────────────────────────
*/

.wrapper.active .sidebar_menu {
    width: 100px;
}

.wrapper.active .hamburger .fa-long-arrow-alt-right {
    display: block;
}

.wrapper.active .sidebar_menu .user,
.wrapper.active .sidebar_menu ul li a .list,
.wrapper.active .hamburger .fa-long-arrow-alt-left {
    display: none;
}

.wrapper.active .main_body .container {
    width: calc(100% - 100px);
    margin-left: 100px;
}